.idea
/node_modules
.env
gulpfile.js
public/js/annotation.full.js
public/js/annotation.full.js.map
public/css/annotation.css
public/css/annotation.css.map
public/css/app.css
public/css/app.css.map
resources/assets/js/setting.js
/storage/logs
