@charset "UTF-8";
.authDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  transition: opacity 400ms ease-in;
  pointer-events: none; }
  .authDialog div {
    width: 800px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 0px;
    background: #fff;
    background: -o-linear-gradient(#fff, #999); }
  .authDialog .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .authDialog .anno-btn-login {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4; }
  .authDialog .anno-btn-close {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a; }
  .authDialog.show {
    opacity: 1;
    pointer-events: auto; }

.anno-panel {
  font-family: Arial, "Microsoft YaHei", "黑體", "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "標楷體", DFKai-SB, sans-serif;
  position: fixed;
  right: 0px;
  top: 50px;
  max-width: 260px;
  width: 235px;
  min-height: 100px;
  z-index: 50;
  margin-right: 0px;
  padding: 25px;
  background-color: #FFFFFF;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #cccccc;
  border-right: none;
  box-shadow: -2px 0px 6px 0px rgba(50, 50, 50, 0.78); }
  .anno-panel ul {
    list-style-type: none;
    padding-left: 0; }
    .anno-panel ul li {
      cursor: pointer;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      vertical-align: middle;
      padding: 5px; }
      .anno-panel ul li input[type=checkbox] {
        vertical-align: middle;
        margin-top: 0;
        margin-right: 7px; }
      .anno-panel ul li:hover {
        background-color: #e0e0e0; }
      .anno-panel ul li span {
        margin-left: 4px; }
  .anno-panel hr {
    margin-top: 25px;
    border: none;
    border-top: 1px solid #aaa; }
  .anno-panel .gravatar {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle; }
  .anno-panel .btn-appear {
    width: 25px;
    height: 50px;
    border-left: 2px solid #cccccc;
    border-radius: 100%;
    position: absolute;
    z-index: 100;
    background-color: #FFFFFF;
    left: -10px;
    top: 130px;
    box-shadow: -5px 0px 9px -2px rgba(50, 50, 50, 0.51); }
  .anno-panel .anno-login {
    max-width: 180px;
    min-height: 50px; }
    .anno-panel .anno-login div:first-of-type {
      max-width: 70px;
      display: inline-block;
      overflow: visible;
      height: 30px;
      vertical-align: super; }
    .anno-panel .anno-login div span {
      font-size: 15px;
      margin-left: 5px; }
  .anno-panel .anno-search {
    margin-bottom: 8px; }
  .anno-panel .anno-users {
    color: #545454; }
    .anno-panel .anno-users ul {
      max-height: 245px;
      overflow-y: scroll; }
  .anno-panel .anno-tags {
    margin-top: 10px; }
    .anno-panel .anno-tags ul {
      max-height: 250px;
      overflow-y: scroll; }
  .anno-panel .anno-search-list {
    margin-top: 10px;
    max-height: 250px;
    overflow: auto; }
    .anno-panel .anno-search-list .anno-quote {
      display: inline-block;
      vertical-align: top;
      border-radius: 5px;
      background-color: #dfdfdf;
      padding: 3px 8px 3px 8px; }
  .anno-panel .anno-btn-viewall {
    cursor: pointer;
    width: 150px;
    height: 45px;
    margin: 0 auto; }
  .anno-panel .anno-viewall {
    text-align: center;
    margin-top: 25px; }
    .anno-panel .anno-viewall .btn-viewall {
      display: inline-block;
      padding: 6px 12px;
      margin-bottom: 0;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.42857143;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-image: none;
      border: 1px solid transparent;
      border-radius: 4px; }
      .anno-panel .anno-viewall .btn-viewall:hover {
        color: #333;
        background-color: #e6e6e6;
        border-color: #adadad; }

#form-search input {
  height: 32px;
  vertical-align: middle;
  width: 185px;
  font-size: 20px;
  background-color: #e0e0e0;
  margin-right: 2px;
  border: none;
  padding: 3px; }
  #form-search input:hover {
    outline: 1px solid #89a4f5; }

#form-search #anno-search-submit {
  vertical-align: top;
  border: none;
  background-color: transparent;
  margin-right: 0;
  padding-bottom: 10px; }

#form-search .fa-search {
  vertical-align: middle;
  line-height: 32px;
  color: #929292; }

.annotator-hl.img-anno-item {
  background-color: transparent; }

.annotator-likes .anno-like, .annotator-likes .anno-dislike {
  text-decoration: none;
  margin-left: 2px;
  margin-right: 5px; }
  .annotator-likes .anno-like:hover, .annotator-likes .anno-like:active, .annotator-likes .anno-like:focus, .annotator-likes .anno-dislike:hover, .annotator-likes .anno-dislike:active, .annotator-likes .anno-dislike:focus {
    text-decoration: none; }

.annotator-likes > span {
  padding: 6px; }

.hl-keywords {
  background-color: #DDEFFB; }

/*# sourceMappingURL=annotation.css.map */
