.authDialog {

  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;

  div {
    width: 800px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 0px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
  }

  .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

  }

  .anno-btn-login {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
  }
  .anno-btn-close {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
  }

  &.show {
    opacity:1;
    pointer-events: auto;
  }

}


.anno-panel {
  font-family: Arial, "Microsoft YaHei", "黑體", "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "標楷體", DFKai-SB, sans-serif;
  width: 260px;
  padding: 25px;
  background-color: #FFFFFF;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #cccccc;
  border-right: none;
  position: fixed;
  right: 0px;
  top: 50px;
  margin-right: 0px;
  z-index: 50;

  .btn-appear {
    width: 25px;
    height: 50px;
    border-left: 2px solid #cccccc;
    border-radius: 100%;
    position: absolute;
    z-index: 100;
    background-color: #FFFFFF;
    left: -25px;
    top: 130px;
  }

  .anno-search {
    margin-bottom: 8px;
  }

  .anno-users {
    color: #545454;
  }

  .anno-tags {
    margin-top: 10px;
  }



  .btn-appear {
    width: 25px;
    height: 50px;
    border-left: 2px solid #cccccc;
    border-radius: 100%;
    position: absolute;
    z-index: 100;
    background-color: #FFFFFF;
    left: -25px;
    top: 130px;
  }

  hr {
    margin-top: 25px;
    border: none;
    border-top: 1px solid #aaa;
  }

  ul {
    list-style-type: none;
    padding-left: 0;


    li {
      cursor: pointer;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      vertical-align: middle;
      padding: 5px;

      input[type=checkbox] {
        vertical-align: middle;
        margin-top: 0;
        margin-right: 7px;
      }

      &:hover {
        background-color: #e0e0e0;
      }

      .gravatar {
        border-radius: 50%;
        height: 30px;
        width: 30px;
        display: inline-block;

      }

      span {
        margin-left: 4px;
      }
    }


  }
}

#form-search {
  input {
    height: 32px;
    vertical-align: middle;
    width: 160px;
    font-size: 20px;
    background-color: #e0e0e0;
    margin-right: 2px;
    border: none;
    padding: 3px;
    &:hover {
      outline: 1px solid #89a4f5;
    }
  }
  #anno-search-submit {
    border: none;
    background-color: transparent;
    margin-right: 0;
    padding-bottom: 10px;
  }

  .fa-search {
    vertical-align: middle;
    line-height: 32px;
    color: #929292;
  }
}

.anno-search-list {
  margin-top: 10px;
  max-height: 250px;
  overflow: auto;
  .anno-quote {
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
    background-color: rgba(223, 223, 223, 1);
    padding: 3px 8px 3px 8px;
  }

}



