@import './vendor/bower_components/bootstrap-sass/assets/stylesheets/bootstrap';
.authDialog {

  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;

  div {
    width: 270px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 0px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
  }

  .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

  }

  .anno-btn-login {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
  }
  .anno-btn-close {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
  }

  &.show {
    opacity:1;
    pointer-events: auto;
  }

}


.anno-panel {
  font-family: Arial, "Microsoft YaHei", "黑體", "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "標楷體", DFKai-SB, sans-serif;
  position: fixed;
  right: 0px;
  top: 0px;
  width: 300px ;
  height: 100%;
  float :right; 
  z-index: 0;
  background-color: #FFFFFF;
  overflow-y:auto;
  overflow-x:hidden;
  /*-webkit-box-shadow: -2px 0px 6px 0px rgba(50, 50, 50, 0.78);
  -moz-box-shadow:    -2px 0px 6px 0px rgba(50, 50, 50, 0.78);
  box-shadow:         -2px 0px 6px 0px rgba(50, 50, 50, 0.78);*/
  .anno-test{
    background-color:#FFFFFF;
    .anno-body{
         background-color:#FFFFFF;
         &:hover{
           background-color:#FFFFFF;
         }
         &:focus{
           background-color:#FFFFFF;
         }
    }
    .anno-lists{
            background-color:#FFFFFF;
    }
   
  }
  .selection{
      padding-left: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  ul {
    list-style-type: none;
    padding-left: 0;
    li {
      cursor: pointer;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      vertical-align: middle;
      

      input[type=checkbox] {
        vertical-align: middle;
        margin-top: 0;
        margin-right: 7px;
      }

      &:hover {
        background-color: #e0e0e0;
      }
      span {
        margin-left: 4px;
      }
    }
  }
  hr {
    margin-top: 25px;
    border: none;
    border-top: 1px solid #aaa;
  }
  .gravatar {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
  }


  .anno-login {
   
    padding: 0px 15px 0px 15px;

    div {
      &:first-of-type {
        max-width: 70px;
        display: inline-block;
        overflow: visible;
        height: 30px;
        vertical-align: super;
      }
      span {
        font-size: 15px;
        margin-left: 5px;
      }
    }
  
  }

  .anno-users {
    color: #545454;
    ul {
      max-height: 160px;
      overflow-y: scroll;
    }
  }

  .anno-tags {
    margin-top: 10px;
    ul {
      max-height: 140px;
      overflow-y: scroll;
    }
  }
  .anno-search{
    padding: 10px 15px;
  }
  .anno-search-list {
    margin-top: 10px;
    max-height: 250px;
    overflow: auto;
    .anno-quote {
      display: inline-block;
      vertical-align: top;
      border-radius: 5px;
      background-color: rgba(223, 223, 223, 1);
      padding: 3px 8px 3px 8px;
    }
  }

  .anno-btn-viewall {
    cursor: pointer;
    width: 150px;
    height: 45px;
    margin: 0 auto;

  }
  .anno-infos-item{
    padding: 15px;
  }
  .anno-viewall {
    text-align: center;
    margin-top: 25px;
    .btn-viewall {
      display: inline-block;
      padding: 6px 12px;
      margin-bottom: 0;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.42857143;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-image: none;
      border: 1px solid transparent;
      border-radius: 4px;

      &:hover {
        color: #333;
        background-color: #e6e6e6;
        border-color: #adadad;
      }
    }
  }
}
.btn-appear {
    background-color: #F8F8F8;
    top: 0px;
    position:fixed;
    right: 300px;
    width: 40px;
    height: 36px;
    padding :5px;
    text-align:center;
  }
.btn-appear-count{
    background-color: #F8F8F8;
    top: 40px;
    position:fixed;
    right: 305px;
    width: 35px;
    height: 36px;
    padding :5px;
    text-align:center;
  }

#form-search {
  input {
    height: 32px;
    vertical-align: middle;
    width: 185px;
    font-size: 20px;
    background-color: #e0e0e0;
    margin-right: 2px;
    border: none;
    padding: 3px;
    &:hover {
      outline: 1px solid #89a4f5;
    }
  }
  /*#anno-search-submit {
    background: url(../image/sider/icon_search.png) no-repeat left;
    vertical-align: top;
    border: none;
    background-color: transparent;
    margin-right: 0;
    padding-bottom: 10px;
    &:hover {
     background: url(../image/sider/icon_search_s2.png) no-repeat left;
    }
  }*/

  #anno-search-submit {
    background: url(../image/sider/icon_search.png) no-repeat left;
    display: inline-block;
    cursor: pointer;
    margin: 0 auto auto 3px;
    padding:5px;
    height:25px;
    width:28px;
    border:none;
    background-position:0% 0%;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    
    &:hover {
     background: url(../image/sider/icon_search_s2.png) no-repeat left;
    }
  }


  .fa-search {
    vertical-align: middle;
    line-height: 32px;
    color: #929292;
  }

}


.annotator-hl.img-anno-item {
  background-color: rgba(0,0,0,0);
}
.annotator-likes {
  .anno-like, .anno-dislike {
    &:hover, &:active, &:focus {
      text-decoration: none;
    }
    text-decoration: none;
    margin-left: 2px;
    margin-right: 5px;
  }
  > span {
    padding: 6px;
  }
}

$color : "lightsalmon" ,"salmon" ,"darksalmon" ,"lightcoral" ,"indianred" ,"crimson" ,"firebrick" ,"red" ,"darkred" ,"maroon" ,"tomato" ,"orangered" ,"palevioletred","lawngreen" ,"chartreuse" ,"imegreen" ,"lime" ,"forestgreen" ,"green" ,"darkgreen" ,"greenyellow" ,"yellowgreen" ,"springgreen" ,"mediumspringgreen" ,"lightgreen" ,"palegreen" ,"darkseagreen" ,"mediumseagreen" ,"lightseagreen" ,"seagreen" ,"olive" ,"darkolivegreen" ,"olivedrab","aliceblue" ,"lavender" ,"powderblue" ,"ightblue" ,"lightskyblue" ,"skyblue" ,"deepskyblue" ,"lightsteelblue" ,"dodgerblue","cornflowerblue" ,"steelblue" ,"cadetblue" ,"mediumslateblue" ,"slateblue" ,"darkslateblue" ,"royalblue" ,"blue" ,"mediumblue" ,"darkblue" ,"navy" ,"midnightblue" ,"blueviolet" ,"indigo";
$colorRGB : "rgba(255,160,122","rgba(250,128,114","rgba(233,150,122","rgba(240,128,128","rgba(205,92,92","rgba(220,20,60","rgba(178,34,34","rgba(255,0,0","rgba(139,0,0","rgba(128,0,0","rgba(255,99,71","rgba(255,69,0","rgba(219,112,147","rgba(124,252,0","rgba(127,255,0","rgba(50,205,50","rgba(0,255,0","rgba(34,139,34","rgba(0,128,0","rgba(0,100,0","rgba(173,255,47","rgba(154,205,50","rgba(0,255,127","rgba(0,250,154","rgba(144,238,144","rgba(152,251,152","rgba(143,188,143","rgba(60,179,113","rgba(32,178,170","rgba(46,139,87","rgba(128,128,0","rgba(85,107,47","rgba(107,142,35","rgba(240,248,255","rgba(230,230,250","rgba(176,224,230","rgba(173,216,230","rgba(135,206,250","rgba(135,206,235","rgba(0,191,255","rgba(176,196,222","rgba(30,144,255","rgba(100,149,237","rgba(70,130,180","rgba(95,158,160","rgba(123,104,238","rgba(106,90,205","rgba(72,61,139","rgba(65,105,225","rgba(0,0,255","rgba(0,0,205","rgba(0,0,139","rgba(0,0,128","rgba(25,25,112","rgba(138,43,226","rgba(75,0,130";
$alpha : ",0.3)";
@for $i from 1 through length($color) 
{
    .keyword-hl-#{nth($color,$i)} {
        background: #{append(nth($colorRGB,$i),$alpha)};
    }
}
.annoitem-focus {
    opacity: 1.0;
}

.annoitem-unfocus {
    opacity: 0.4;
}
.annotator-condition{
    border : 1px solid #d6d6d6;
    display: inline;
    line-height: 28px;
    margin: 2.5px;
    border-radius: 3px;
    font-size: 1.3rem;
    padding: 2px;
}
.annotator-condition span{
   font-size: 17px;
   padding : 3px;
}
.sidebar .nav-second-level li .annotator-condition a{
   font-size: 17px;
   padding : 3px;
}
.easy-autocomplete{
  display: inline;
}



.anno-body-item{
  font-family: Arial, "Microsoft YaHei", "黑體", "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "標楷體", DFKai-SB, sans-serif;
  //width: 900px;
  padding: 10px;
  background-color: #FFFFFF;
  border-radius: 5px;
  border: 1px solid #cccccc;
  margin-bottom: 5px;

  .anno-user-name{
    color: #0055aa;
    margin-right: 5px;
    font-size: 15px;
    font-weight: bold;
  }
  .anno-user-email{
    padding-top: 7px;
    padding-bottom: 10px;
  }
  .anno-body-time{
    color: #999999;
    padding-bottom: 3px;
  }
  .anno-body-tag{
    color: #A6A6A6;

  }
}
.annotator-hl-focus{
  background-color: #99BBFF;
}