
@import 'bootstrap';

@media screen and (min-width: 768px) {

  nav.navbar.navbar-custom {
    min-height: 100px;

    .container-fluid {
      margin-top: 50px;
    }


    .navbar-nav > li {
      border-bottom: solid 5px rgba(0, 204, 255, 0);
      &:hover {
        border-color: rgb(0, 204, 255);
      }
    }

    .navbar-nav > li.active {
      border-color: rgb(0, 204, 255);
    }
  }

}


.anno-list-item {
  font-family: Arial, "Microsoft YaHei", "黑體", "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "標楷體", DFKai-SB, sans-serif;
  width: 900px;
  padding: 20px;
  background-color: #FFFFFF;
  border-radius: 5px;
  border: 1px solid #cccccc;
  margin-bottom: 15px;

  .anno-item-left {
    width:100px;
    display: inline-block;
    height: 80px;

  }

  .anno-item-top {
    width:750px;
    display: inline-block;
    vertical-align: top;
    .anno-title {
      font-weight: bolder;
      font-size: 18px;
      margin-top: 5px;
      word-wrap: break-word;
    }
  }

  .anno-item-bottom {
    padding-top: 15px;

    .anno-text {
      border-left: 4px solid yellow;
    }
    .anno-quote {
      border-left: 4px solid purple;

    }

    > a {
      text-decoration: none;
      margin-right: 10px;

      > span {
        padding-left: 5px;
        font-size: 15px;
        font-weight: bold;
        color: dodgerblue;

      }

    }

    > a:hover {
      > span {
        color: darkcyan;
      }
    }
    .anno-text ,.anno-quote {
      font-family: Arial, "Microsoft YaHei", "微軟雅黑", "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "標楷體", DFKai-SB, sans-serif;
      font-size: 14px;
      padding-top: 7px;
      padding-left: 15px;
      padding-bottom: 15px;
      margin-bottom: 15px;
      word-wrap: break-word;

    }
  }

}

.anno-pages {
  height: 120px;
  text-align: center;
  font-size: 18px;
}



